@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.image-container {
  position: relative;
  width: fit-content;
}

.image {
  border-radius: 50px;
}

.overlay-text {
  position: absolute;
  bottom: -1%;
  left: 3%;
  font-size: 50px;
  color: white;
}

.container {
  display: flex;
  justify-content: space-evenly;
}

.container-activate {
  background-color: black;
}